.container {
    margin: 0 5%;
    background-color: rgb(248, 248, 114);
    height: 100vh;
    padding: 100px;
    display: flex;
  }
.roll-button {
  padding: 20px 30px;
  font-size: 30px;
  border-radius: 10px;
  color: rgb(97, 111, 1);
}
.dicesContainer {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  width: 520px;
}
.left {
  flex: 1;
}

.right {
  flex: 1;
}