.dices {
    display: flex;
    padding: 10px 20px;
    width: 550px;
    justify-content: space-between;
    margin: 100px;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 10px;
    background: #007F73;
}